<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("partial/head") %>
	</head>

	<body>
		<div class="container login-container">
			<div class="row align-items-center justify-content-center">
				<div class="col-10 col-md-6 col-lg-4 order-2 order-md-1 my-3 my-lg-0">
					<form action="/login" method="POST" class="players-form">
						<% if (success) { %> <%- include('./partial/successMessage', {message: success[0]}) %> <% } else if (error) { %> <%-
						include('./partial/errorMessage', {message: error[0]}) %> <% } %>

						<div class="form-floating mb-4">
							<input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com" />
							<label for="floatingInput">Email address</label>
						</div>
						<div class="form-floating">
							<input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password" />
							<label for="floatingPassword">Password</label>
						</div>
						<div class="button-group my-4 d-flex flex-column flex-md-row justify-content-md-center">
							<button type="submit" class="btn-confirm my-2 me-md-4">Login</button>
							<a href="/"><button type="button" class="btn-back my-2">Back</button></a>
						</div>
					</form>
					<p class="authUser">Don't have an account yet? <a href="/register">Sign Up</a></p>
					<p class="sign-loginregist">Login for Admin <a href="/admin/login">HERE</a></p>
				</div>
				<div class="col-10 col-md-6 col-lg-6 order-1 order-md-2 my-3 my-lg-0">
					<img src="/assets/arcade-game.svg" alt="Arcade Game" class="img-fluid login-img" />
				</div>
			</div>
		</div>

		<%- include('partial/footer') %>
	</body>
</html>
