body {
	margin: 0;
	padding: 0;
}

/* Import Font Open Sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* Start Header */

.header {
	background-image: radial-gradient(
			189.96% 61.18% at 50% 38.82%,
			rgba(255, 181, 72, 0) 0%,
			rgba(52, 44, 29, 0.80319) 73.22%,
			#08090a 99.74%
		),
		url("/assets/bg-01.png");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

/* End Header */

/* Start Navbar */

.nav-custom {
	background-color: rgba(0, 0, 0, 0.5);
	font-family: "Open Sans", sans-serif;
}

.navbar-dark,
.nav-custom a {
	color: rgba(255, 255, 255, 1) !important;
}

.navbar-brand {
	font-size: 20px;
	letter-spacing: 0.1em;
}

.navbar-toggler {
	border-color: rgba(255, 255, 255, 0.5) !important;
}

.nav-link {
	font-size: 10px;
	letter-spacing: 0.1em;
}

.nav-custom .nav-link:hover {
	color: #ffb548 !important;
}

/* End Navbar */

/* Start Header Title */

.header__title {
	margin-top: 130.06px;
	letter-spacing: 2px;
	font-family: Arial, Helvetica, sans-serif;
}

.header__title h1 {
	font-size: 38px;
	letter-spacing: 3px;
	margin-bottom: 0;
}

.header__title h3 {
	font-size: 19px;
	letter-spacing: 2px;
	margin: 49px 0;
}

.header__title .btn {
	background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
	border-radius: 4px;
	padding: 10px;
	width: 15rem;
	font-size: 16px;
	line-height: 22px;
	font-family: "Open Sans", sans-serif;
	transition: transform 0.2s;
}

.header__title .btn:hover {
	transform: scale(1.2);
}

.header__title .btn:focus {
	box-shadow: 0 0 10px #f3af34 !important;
}

.header__title-story-btn {
	font-family: "Open Sans", sans-serif;
	padding: 14.625rem 0 5.32rem;
}

.header__title-story-btn a {
	text-decoration: none;
}

.success-message small {
	background-color: #000;
	color: #85ffb7;
	padding: 0.2rem;
}

/* End Header Title */

/* Start Gallery */

.gallery {
	background-image: radial-gradient(136.03% 54.57% at 50% 48.04%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 60.63%, #080a0b 99.74%),
		url("/assets/bg-02.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: Arial, Helvetica, sans-serif;
	padding: 200px 0;
	overflow: hidden;
	scroll-padding-top: 20%;
}

.gallery__text {
	text-align: center;
}

.gallery__text h3 {
	font-size: 19px;
	line-height: 28px;
	letter-spacing: 2px;
}

.gallery__text h1 {
	font-size: 22px;
	line-height: 64px;
	letter-spacing: 3px;
}

.gallery__carousel {
	margin-top: 20px;
}

/* End Gallery */

/* Start Features */

.features {
	background-image: radial-gradient(
			51.1% 80.48% at 30.85% 53.65%,
			rgba(255, 255, 255, 0) 0%,
			rgba(0, 0, 0, 0) 19.2%,
			rgba(4, 5, 6, 0.520671) 47.48%,
			#080a0b 99.74%
		),
		url("/assets/bg-03.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 40%;
	padding: 169.09px 0;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
}

.features__text {
	text-align: center;
}

.features__text h3 {
	font-size: 19px;
	line-height: 28px;
	letter-spacing: 2px;
}

.features__text h1 {
	font-size: 22px;
	line-height: 64px;
	letter-spacing: 3px;
}

.features__timeline {
	text-align: left;
	list-style-type: none;
	position: relative;
} /* Permulaan membuat sebuah timeline */

.features__timeline:before {
	content: " ";
	background: #d4d9df;
	display: inline-block;
	position: absolute;
	left: 29px;
	width: 2px;
	height: 64.5%;
	z-index: 400;
} /* Membuat & memberi panjang garis putih */

.features__timeline > li:nth-child(1):before {
	content: " ";
	background: #fff;
	display: inline-block;
	position: absolute;
	border-radius: 50%;
	left: 20px;
	width: 20px;
	height: 20px;
	z-index: 400;
} /* Membuat lingkaran berisi warna putih */

.features__timeline > li:nth-child(1) {
	margin: 20px 0 0;
	padding-left: 20px;
} /* Mengatur jarak tulisan untuk timeline pertama  */

.features__timeline > li:nth-child(2):before {
	content: " ";
	border: 1px solid #fff;
	display: inline-block;
	position: absolute;
	border-radius: 50%;
	left: 20px;
	width: 20px;
	height: 20px;
	z-index: 400;
} /* Membuat lingkaran kedua yang tidak berisi warna */

.features__timeline > li:nth-child(2) {
	margin: 100px 0 0;
	padding-left: 20px;
} /* Mengatur jarak tulisan untuk timeline kedua */

.features__timeline > li:nth-child(3):before {
	content: " ";
	border: 1px solid #fff;
	display: inline-block;
	position: absolute;
	border-radius: 50%;
	left: 20px;
	width: 20px;
	height: 20px;
	z-index: 400;
} /* Membuat lingkaran ketiga */

.features__timeline > li:nth-child(3) {
	margin: 50px 0 0;
	padding-left: 20px;
} /* Mengatur jarak tulisan untuk timeline ketiga */

.features__timeline li p:nth-child(1) {
	color: #ffb548;
	font-size: 19px;
	line-height: 28px;
	letter-spacing: 2px;
	text-shadow: 2px 2px 5px #08090a;
} /* Mengatur tulisan paragraf pertama dari induk li dalam .features__timeline */

.features__timeline li p:nth-child(2) {
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
	line-height: 22px;
	text-shadow: 2px 2px 5px #08090a;
} /* Mengatur tulisan paragraf kedua dari induk li dalam .features__timeline */

/* End Features */

/* Start System */

.system {
	background-image: radial-gradient(33.26% 45% at 64.32% 47.1%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 19.22%, #080a0b 99.74%),
		url("/assets/bg-04.png");
	background-size: cover;
	background-position: 70%;
	background-repeat: no-repeat;
	font-family: Arial, Helvetica, sans-serif;
}

.system h3 {
	padding-top: 145.33px;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 2px;
}

.system h1 {
	margin-top: 3.518rem;
	font-size: 22px;
	letter-spacing: 3px;
	padding-right: 50%;
}

.system table {
	margin-bottom: 10.676rem;
	border: 1px solid #979797;
}

.system table td {
	padding: 0.938rem;
}

.system__table-txt p:first-child {
	color: #ffb548;
	text-shadow: 2px 2px 5px #08090a;
	font-size: 19px;
}

.system__table-txt p:last-child {
	color: #fff;
	font-family: "Open Sans", sans-serif;
	text-shadow: 2px 2px 5px #08090a;
	font-size: 13px;
}

/* End System */

/* Start Top-Scores */

.top-scores {
	background-image: radial-gradient(70.52% 37.27% at 24.21% 47.47%, rgba(35, 15, 15, 0) 0%, rgba(0, 0, 0, 0) 51.1%, #080a0b 99.74%),
		url("/assets/bg-05.jpg");
	background-repeat: no-repeat;
}

.top-scores__heading {
	padding-top: 3.254rem;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

.top-scores__heading h1 {
	font-size: 22px;
	line-height: 64px;
	letter-spacing: 3px;
}

.top-scores__heading p {
	font-size: 13px;
	line-height: 22px;
	margin: 36.07px 0 40px;
	font-family: "Open Sans", sans-serif;
}

.top-scores__heading .btn {
	background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
	border-radius: 4px;
	padding: 10px;
	width: 15rem;
	font-size: 16px;
	line-height: 22px;
	font-family: "Open Sans", sans-serif;
}

.top-scores__review {
	background-color: rgba(255, 255, 255, 0.08);
	border-radius: 10px;
	padding: 1.25rem;
	font-family: "Open Sans", sans-serif;
	text-align: center;
}

.top-scores__review:nth-child(1) {
	margin-top: 3.974rem;
}

.top-scores__review:nth-child(2) {
	margin: 1.873rem 0;
}

.top-scores__review:nth-child(3) {
	margin-bottom: 3.974rem;
}

.top-scores__review .top-scores__review-img {
	height: 50px;
	width: 50px;
	box-shadow: 10px 3px #ffb548;
	object-fit: none;
}

.top-scores__review:nth-child(2) .top-scores__review-img {
	object-fit: fill;
}

.top-scores__profile p:first-child {
	line-height: 28px;
	letter-spacing: 2px;
	color: #ffb548;
	padding-left: 10px;
	font-size: 19px;
	font-family: Arial, Helvetica, sans-serif;
}

.top-scores__profile p:last-child {
	line-height: 22px;
	color: #fff;
	opacity: 0.5;
	padding-left: 10px;
	font-size: 13px;
}

.top-scores__profile-socmed {
	color: #fff;
	opacity: 0.3;
	font-size: 22px;
}

.top-scores__quote p:first-child {
	font-size: 15px;
	line-height: 25px;
	color: #ffffff;
}

.top-scores__quote p:last-child {
	font-size: 11px;
	line-height: 19px;
	color: #ffffff;
	opacity: 0.5;
}

/* End Top-Scores */

/* Start Newsletter */

.newsletter {
	background-color: #080a0b;
	background-image: url("/assets/bg-06.png");
	background-repeat: no-repeat;
	background-position: center;
	font-family: Arial, Helvetica, sans-serif;
	padding: 10rem 0;
}

.newsletter h3 {
	line-height: 28px;
	letter-spacing: 2px;
	font-size: 17px;
	text-shadow: 2px 2px 5px #08090a;
	background-color: rgba(0, 0, 0, 0.1);
}

.newsletter h1 {
	line-height: 28px;
	letter-spacing: 3px;
	font-size: 19px;
	text-shadow: 2px 2px 5px #08090a;
}

.newsletter p {
	line-height: 22px;
	font-size: 13px;
	text-shadow: 2px 2px 5px #08090a;
	background-color: rgba(0, 0, 0, 0.1);
	font-family: "Open Sans", sans-serif;
}

.newsletter input.form-control {
	background: rgba(255, 255, 255, 0.08);
	border: 1px solid #000 !important;
	border-radius: 5px;
	padding: 27px 0 10px 15px;
	font-size: 18px;
}

.newsletter input.form-control:focus {
	border-color: #f3af34 !important;
	box-shadow: 0 0 0 0.25rem rgb(243, 175, 52, 25%) !important;
	color: #f3af34;
}

.newsletter .btn {
	background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
	border-radius: 4px;
	padding: 19px;
	width: 10rem;
	font-size: 16px;
	line-height: 22px;
	font-family: "Open Sans", sans-serif;
}

.newsletter__user-email {
	position: relative;
}

.newsletter__user-email label {
	position: absolute;
	font-size: 14px;
	opacity: 0.6;
	text-shadow: 2px 2px 12px #08090a;
	top: 5px;
	left: 25px;
	font-family: "Open Sans", sans-serif;
}

::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #ffb548 !important;
	opacity: 1; /* Firefox */
	text-shadow: 2px 2px 5px #08090a;
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #ffb548 !important;
	text-shadow: 2px 2px 5px #08090a;
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: #ffb548 !important;
	text-shadow: 2px 2px 5px #08090a;
}

/* End Newsletter */

/* Start Footer */

.footer {
	background-color: #000;
	padding: 2.5rem 0 2rem;
}

.footer .nav-item a {
	color: #fff;
	font-size: 10px;
	line-height: 16px;
	letter-spacing: 0.1em;
	font-family: "Open Sans", sans-serif;
}

.footer .nav-item a.footer__link:hover {
	color: #ffb548 !important;
}

.footer__icon {
	font-size: 13px;
}

.footer li:nth-child(1) a.footer__socmed:hover {
	color: #1877f2 !important;
}

.footer li:nth-child(2) a.footer__socmed:hover {
	color: #1d9bf0 !important;
}

.footer li:nth-child(3) a.footer__socmed:hover {
	color: #ff1313 !important;
}

.footer li:nth-child(4) a.footer__socmed:hover {
	color: #9147ff !important;
}

.footer hr {
	opacity: 0.5;
	border: 0.873968px solid #ffffff;
	width: 91%;
	margin: 6% 0 2% 4%;
}

.footer p {
	font-size: 11px;
	line-height: 19px;
	color: #fff;
	opacity: 0.5;
	font-family: "Open Sans", sans-serif;
	padding-left: 1rem;
}

.footer .footer__policy:nth-child(1) {
	border-right: 1px solid #fff;
	padding: 0 0.8rem 0 1rem !important;
}

.footer .footer__policy:nth-child(2) {
	border-right: 1px solid #fff;
	padding: 0 0.8rem !important;
}

.footer .footer__policy:nth-child(3) {
	padding: 1rem 0 0 1rem !important;
}

.footer .footer__policy a:hover {
	color: #ffb548 !important;
}

/* End Footer */
